html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #0c111b;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #263f61;
  align-items: center;
  padding: 12px 56px 14px 56px;
}

.logouttext {
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.searchbox {
  width: 424px;
  height: 42px;
  display: flex;
}

.inputsearch {
  left: 210px;
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 5px;
  padding: 0 20px;
  background: transparent;
  color: #FF7D65;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.inputsearch::placeholder {
  color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.searchbtn {
  position: relative;
  left: 170px;
  width: 48px;
  height: 44px;
  background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  color: red;
  margin-top: 10px;
  margin-left: 10px;
}

.box {
  height: 100%;
  width: 552px;
  padding: 32px 32px 45px 32px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05);
  border-radius: 16px;
  margin: auto;
  margin-top: 50px;
}

.sign {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.24px;
  color: #263238;
  margin: 0;
  height: 36px;
}

.signp {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #546E7A;
  height: 21px;
  margin: 0;
  padding-top: 10px;
}

.label-float {
  position: relative;
  padding-top: 13px;
  justify-content: center;
}

.label-float input {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 16px;
  outline: none;
  width: 100%;
  height: 60px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  /* -webkit-appearance: none; */
  font-size: 14px;
  line-height: 16px;
  color: #546E7A;
}

.label-float input:focus {
  border: 2px solid #FF7D65;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}

.label-float input:required:invalid+label {
  color: red;
}

.label-float input:focus:required:invalid {
  border: 2px solid red;
}

.label-float input:required:invalid+label:before {
  content: "*";
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
  font-size: 13px;
  top: 0;
  color: #FF7D65;
}

.loginbtn {
  text-decoration: none;
  width: 100%;
  height: 48px;
  font-size: 16px;
  color: white;
  border-radius: 16px;
  align-items: center;
  border: 1px solid transparent;
  padding: 8px 35px;
  transition: 0.5s all;
  font-weight: 100;
  background-color: #FF7D65;
  justify-content: center;
  margin-top: 26px;
}

.loginbtn:hover {
  color: #FF7D65;
  border: 1px solid #FF7D65;
  background-color: transparent;
}

.banner {
  width: 100%;
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  margin-left: 56px;
  align-items: flex-end;
  color: #ffffff;
}

.container {
  padding: 32px 60px 0px 60px;
}

.nodatacont {
  display: flex;
  justify-content: center;
}

.nodata {
  color: #FFFFFF;
}

.movie-box {
  width: 100%;
  height: 178px;
  cursor: pointer;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 3em;
}

.rectangle {
  margin-top: -4px;
  height: 65px;
  width: 100%;
  background: linear-gradient(0deg, #1A2B4A 0%, #2B507C 105.38%);
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  height: 22px;
  padding-left: 15px;
  line-height: 100%;
  margin-top: -35px;
}

.play {
  margin-left: 240px;
  margin-top: 15px;
}

.star {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: 13px;
}

.rate {
  padding-left: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #CCCCCC;
}

.pagination {
  cursor: pointer;
  display: flex;
  margin-top: 40px;
  margin-bottom: 70px;
  justify-content: center;
  text-decoration: none;
}

.pagination a {
  color: #FFFFFF;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  color: #FF5E62;
}

.pagination a:hover:not(.active) {
  color: #FF5E62;
}

.fetch {
  font-size: 20px;
  color: #FFFFFF;
}

.gif {
  height: 500px;
  width: 95%;
  margin: auto;
}

.detailcon {
  padding: 32px 60px 0px 60px;
  display: flex;
  /* flex-wrap: wrap ; */
  justify-content: space-between;
}

.detailtitle {
  font-family: 'Helvetica Neue LT Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 50px;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  margin: 0;
  margin-top: 56px;
  margin-bottom: 20px;
}

.detailtext {
  font-family: 'Helvetica Neue LT Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.detailpara {
  width: 512px;
  font-family: 'Helvetica Neue LT Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 152%;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.spanr {
  margin-left: 64px;
}

.spano {
  margin-left: 32px;
}

.player {
  width: 100%;
  height: 100vh;
}

.playervideo {
  width: 100%;
  height: 100%;
}

.style {
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.movieplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}

.closebtn {
  background: none;
  border: none;
  color: white;
  float: right;
  cursor: pointer;
  font-size: 20px;
}